.show-btn {
    visibility: visible;
    opacity: 1;
}

.card-on {
    /* display: block; */
    transform: scale(1);
    opacity: 1;
}

.card-off {
    /* display: none; */
    transform: scale(0.8);
    opacity: 0;
}